{"swagger":"2.0","info":{"description":"城市脉搏的Restful API","version":"0.1","title":"城市脉搏的Restful API","termsOfService":"http://127.0.0.1:9600/"},"host":"dn.product.iot-cas.com:8081","basePath":"/yqfk","tags":[{"name":"alarm-config-controller","description":"Alarm Config Controller"},{"name":"asr-yy-controller","description":"Asr Yy Controller"},{"name":"authority-controller-api","description":"Authority Controller Api"},{"name":"chart-controller","description":"Chart Controller"},{"name":"city-ym-controller","description":"City Ym Controller"},{"name":"index-controller","description":"Index Controller"},{"name":"login-controller","description":"Login Controller"},{"name":"menu-item-controller","description":"Menu Item Controller"},{"name":"mobile-controller","description":"Mobile Controller"},{"name":"risk-areas-controller","description":"Risk Areas Controller"},{"name":"test-controller","description":"Test Controller"},{"name":"一图总览相关接口","description":"Picture Controller"},{"name":"下载ftp文件","description":"Dowm Load Ftp Controller"},{"name":"下载国外接种数据","description":"Download G Wdata Controller"},{"name":"二维码认证相关接口","description":"WJ Login Controller"},{"name":"人口核查相关接口","description":"Population Verification Controller"},{"name":"人口疫苗接种统计接口","description":"People Ym Statistics Controller"},{"name":"人口管理接口","description":"Renkou Controller"},{"name":"人员对比","description":"People Compare Controller"},{"name":"人流量信息","description":"People Flow Controller"},{"name":"企业台账核酸信息同步","description":"Enterprise Data Controller"},{"name":"企业采集相关查询接口","description":"Qyxxcj Controller"},{"name":"健康检查登记接口","description":"Health Examination Controller"},{"name":"健康码信息","description":"Health Code Controller"},{"name":"健康自查报告功能模块","description":"Health Self Examination Controller"},{"name":"公共场所扫码统计相关API","description":"Common Place Statistics Controller"},{"name":"公共场所数据接口","description":"Common Place Controller"},{"name":"医疗救治统计图表API接口","description":"Yljz Tj Controller"},{"name":"受管控人员信息","description":"Yqgkry Controller"},{"name":"口岸企业","description":"Port Enterprises Controller"},{"name":"告警专题接口","description":"Alarm Topic Controller"},{"name":"地图相关接口","description":"Geo Controller"},{"name":"场所人员接口","description":"Examine People Controller"},{"name":"场所接口","description":"Address Location Controller"},{"name":"坐标查询","description":"Coordinate Controller"},{"name":"媒体库接口","description":"Media Info Controller"},{"name":"媒体接口","description":"Media Controller"},{"name":"学校接口","description":"School Controller"},{"name":"实时告警","description":"Alarm Controller"},{"name":"密切/次密接触者统计接口","description":"Close Contact Statistics Controller"},{"name":"密切与次密切人员信息接口","description":"Personnel Controller"},{"name":"密接/次密接去向核实","description":"Close Contact Personnel Whereabouts Controller"},{"name":"密接、次密接人员去向定位相关接口","description":"Contact Personnel Verification Controller"},{"name":"密接图谱","description":"Person Graph Controller"},{"name":"封控/管控区相关接口","description":"Seal Manage Area Controller"},{"name":"封控/管控区统计相关接口","description":"Seal Manage Area Statistics Controller"},{"name":"封控区域接口","description":"Control Area Controller"},{"name":"封控区防疫通次/密接相关接口","description":"Epidemic Connection Controller"},{"name":"封闭区域房号人员统计","description":"Closed Rrea Room Controller"},{"name":"市防疫酒店接口--外部数据获取","description":"Hotel Alarm Controller"},{"name":"常态化防疫监控接口","description":"Normalized Epm Controller"},{"name":"广东省一码通乘客模块","description":"Gdsymtcks Controller"},{"name":"开放接口-需谨慎","description":"Public Controller"},{"name":"微警、穗康扫码接口","description":"Qr Code Scan Controller"},{"name":"房间接口","description":"Important Address Controller"},{"name":"房间相关接口","description":"Room Controller"},{"name":"扫码记录接口","description":"Access Record Controller"},{"name":"服务情况相关接口","description":"Service Situation Controller"},{"name":"权限管理","description":"Authority Controller"},{"name":"核酸数据","description":"HS Check Controller"},{"name":"核酸检测接口","description":"Nucleic Acid Examination Controller"},{"name":"核酸检测统计","description":"Key Industries Nucleic Statistic Controller"},{"name":"核酸点信息","description":"Dgmhsjcd Controller"},{"name":"次/密接相关接口","description":"Connection Controller"},{"name":"流调服务","description":"App Epidemiological Survey Controller"},{"name":"流调服务-人员轨迹信息","description":"Epidemiological Survey Locus Controller"},{"name":"流调服务-重点场所","description":"Epidemiological Survey Zdcs Controller"},{"name":"流调配置信息","description":"Epidemiological Survey Config Controller"},{"name":"涉疫地区来南沙人员","description":"Epidemic Area People Controller"},{"name":"特殊人群信息","description":"Special People Controller"},{"name":"用户功能模块使用情况报表","description":"Function Usage Controller"},{"name":"用户酒店数据权限","description":"User Authority Controller"},{"name":"疫情防控-志愿者统计","description":"Yqfk Zyztj Controller"},{"name":"疫苗接种报表统计接口","description":"Vaccination Controller"},{"name":"督查督办相关接口","description":"Supervision Task Controller"},{"name":"移动端数据总览接口","description":"Mobile Data Controller"},{"name":"穗货运预约单","description":"Shy Appoint Form Controller"},{"name":"穗货运驾乘人员","description":"Shy Driver Controller"},{"name":"粤政易相关接口","description":"Group Chat Controller"},{"name":"自动统计报告模板接口","description":"Auto Template Controller"},{"name":"自动统计接口","description":"Auto Count Controller"},{"name":"自定义导入数据接口","description":"Import Data Controller"},{"name":"船舶信息相关接口","description":"Shipping Statistics Controller"},{"name":"获取粤政易tokencontroller","description":"Wx Access Token Controller"},{"name":"菜单管理","description":"Remote Menu Controller"},{"name":"视频会议相关","description":"Video Conference Controller"},{"name":"视频播放controller","description":"Video Play Controller"},{"name":"设备接口","description":"Device Controller"},{"name":"负压车辆统计接口","description":"Vehicle Controller"},{"name":"货车司机","description":"Truck Driver Controller"},{"name":"购药记录明细相关接口","description":"Drug Controller"},{"name":"通行扫码记录","description":"Travel Record Controller"},{"name":"酒店相关接口","description":"Hotel Controller"},{"name":"重点人员疫苗接种统计接口","description":"Ym Statistics Controller"},{"name":"重点人群核酸合规统计接口","description":"Zdrq Hs Hg Statistics Controller"},{"name":"重点人群核酸预警统计接口","description":"Zdrq Hs Yj Statistics Controller"},{"name":"重点人群统计配置","description":"Zd Rq Statistic Config Controller"},{"name":"重点行业人员核酸统计","description":"Zdhy Hs Statistics Controller"},{"name":"钉钉消息推送接口","description":"Ding Talk Controller"},{"name":"门磁对外接口","description":"Http Receive"},{"name":"门磁相关接口","description":"Door Controller"},{"name":"防疫通密接次密接人员","description":"Close Contact Control Controller"},{"name":"隔离状态相关接口","description":"Isolation Status Controller"},{"name":"黄码人员信息","description":"Yellow Code Controller"}],"paths":{"/SpecialPeople/specialDataSync":{"post":{"tags":["特殊人群信息"],"summary":"特殊人群数据同步","operationId":"specialDataSyncUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/SpecialPeople/specialDataSyncGZ":{"post":{"tags":["特殊人群信息"],"summary":"特殊人群数据同步（广州2000坐标系）","operationId":"specialDataSyncGZUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/acessRecord/statistics":{"post":{"tags":["扫码记录接口"],"summary":"公安扫码和穗康扫码的数据更新","operationId":"statisticsUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/alarmKeyPlace":{"post":{"tags":["告警专题接口"],"summary":"重点场所扫码告警，每天早上9点推送给粤政易","operationId":"alarmKeyPlaceUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/alarmSpecialPeople":{"post":{"tags":["告警专题接口"],"summary":"特殊人群服务告警，每天早上9点推送给粤政易","operationId":"alarmSpecialPeopleUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/alarmYellowCode":{"post":{"tags":["告警专题接口"],"summary":"黄码人员过多告警","operationId":"alarmYellowCodeUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/dataChange":{"post":{"tags":["告警专题接口"],"summary":"重点场所数据变化检测，每天早上8点推送给粤政易测试群","operationId":"dataChangeUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/export":{"get":{"tags":["告警专题接口"],"summary":"导出数据","operationId":"exportDataUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/keyPlace/alarm/setting":{"post":{"tags":["告警专题接口"],"summary":"重点场所扫码告警-告警设置","operationId":"alarmSettingKeyPlaceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"keyPlaceAlarmConfigCmd","description":"keyPlaceAlarmConfigCmd","required":true,"schema":{"$ref":"#/definitions/KeyPlaceAlarmConfigCmd"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/keyPlace/alarm/setting/detail":{"get":{"tags":["告警专题接口"],"summary":"重点场所扫码告警-获取告警设置信息","operationId":"getAlarmSettingKeyPlaceUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«KeyPlaceAlarmConfigDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/keyPlace/export":{"get":{"tags":["告警专题接口"],"summary":"重点场所扫码统计","operationId":"keyPlaceStatisticExportUsingGET","produces":["*/*"],"parameters":[{"name":"token","in":"query","description":"token","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/queryService":{"get":{"tags":["告警专题接口"],"summary":"查看服务情况","operationId":"queryServiceUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/reportService":{"post":{"tags":["告警专题接口"],"summary":"上报服务情况，多个ids时用英文逗号分割","operationId":"reportServiceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"type":"object"}},{"name":"ids","in":"query","description":"ids","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/specialPeople/alarm/setting":{"post":{"tags":["告警专题接口"],"summary":"特殊人群服务告警-告警设置","operationId":"alarmSettingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"specialPeopleCmd","description":"specialPeopleCmd","required":true,"schema":{"$ref":"#/definitions/SpecialPeopleAlarmConfigCmd"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/specialPeople/alarm/setting/detail":{"get":{"tags":["告警专题接口"],"summary":"特殊人群服务告警-获取告警设置信息","operationId":"getAlarmSettingUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«SpecialPeopleAlarmConfigDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/todayCounts":{"post":{"tags":["告警专题接口"],"summary":"今日各镇街告警数量","operationId":"todayCountsUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«websocket告警镇街数据»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/worker/alarm/setting":{"post":{"tags":["告警专题接口"],"summary":"一线工作人员核酸检测阳性告警-告警设置","operationId":"alarmSettingWorkerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"workerAlarmConfigDTO","description":"workerAlarmConfigDTO","required":true,"schema":{"$ref":"#/definitions/WorkerAlarmConfigDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/worker/alarm/setting/detail":{"get":{"tags":["告警专题接口"],"summary":"一线工作人员核酸检测阳性告警-获取告警设置信息","operationId":"getAlarmSettingWorkerUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«WorkerAlarmConfigDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/yellowCode/alarm/setting":{"post":{"tags":["告警专题接口"],"summary":"黄码人员过多告警-告警设置","operationId":"alarmSettingYellowCodeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"yellowCodeAlarmConfigCmd","description":"yellowCodeAlarmConfigCmd","required":true,"schema":{"$ref":"#/definitions/YellowCodeAlarmConfigCmd"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/alarmTopic/yellowCode/alarm/setting/detail":{"get":{"tags":["告警专题接口"],"summary":"黄码人员过多告警-获取告警设置信息","operationId":"getAlarmSettingYellowCodeUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«YellowCodeAlarmConfigDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/address/all":{"get":{"tags":["场所接口"],"summary":"获取所有场所列表","operationId":"getAllUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/address/allEntranceExit":{"get":{"tags":["场所接口"],"summary":"获取高速公路出入口坐标列表","operationId":"allEntranceExitUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«AddressLocationDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/address/getSswdsp/{templateId}":{"get":{"tags":["场所接口"],"summary":"所属单位视频统计(冷链10032, 酒店10047, 跨境司机作业点10043, 肉菜市场10039, 商超10009, 核酸检测点10055, 公共场所(暂无))","operationId":"getSswdspUsingGET","produces":["*/*"],"parameters":[{"name":"sszj","in":"query","description":"sszj","required":false,"type":"string"},{"name":"templateId","in":"path","description":"templateId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«Map«string,object»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/address/getZjwlry":{"get":{"tags":["场所接口"],"summary":"获取镇街物流人员统计","operationId":"getZjwlryUsingGET","produces":["*/*"],"parameters":[{"name":"sszj","in":"query","description":"sszj","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map«string,int»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/app/es/callback":{"post":{"tags":["流调服务"],"summary":"callback","operationId":"callbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"audioTime","in":"query","required":false,"type":"number","format":"double"},{"name":"code","in":"query","required":false,"type":"integer","format":"int64"},{"name":"code","in":"query","required":false,"type":"integer","format":"int64"},{"name":"message","in":"query","required":false,"type":"string"},{"name":"message","in":"query","required":false,"type":"string"},{"name":"requestId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"text","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/app/es/location":{"post":{"tags":["流调服务"],"summary":"发送实时经纬度","operationId":"locationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"websocketDTO","description":"websocketDTO","required":true,"schema":{"$ref":"#/definitions/WebsocketDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/app/es/status":{"get":{"tags":["流调服务"],"summary":"result","operationId":"resultUsingGET","produces":["*/*"],"parameters":[{"name":"taskId","in":"query","description":"taskId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/app/es/test/sms":{"get":{"tags":["流调服务"],"summary":"testSms","operationId":"testSmsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/app/es/uploadImg":{"post":{"tags":["流调服务"],"summary":"图片上传","operationId":"uploadImgUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"websocketDTO","description":"websocketDTO","required":true,"schema":{"$ref":"#/definitions/WebsocketDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/app/es/voiceToText":{"post":{"tags":["流调服务"],"summary":"基本信息语音转换文字","operationId":"voiceToTextUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"voiceToTextDTO","description":"voiceToTextDTO","required":true,"schema":{"$ref":"#/definitions/VoiceToTextDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/asrYy":{"post":{"tags":["asr-yy-controller"],"summary":"新增语音文件","operationId":"saveUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"asrYy","description":"asrYy","required":true,"schema":{"$ref":"#/definitions/AsrYy"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«AsrYy»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["asr-yy-controller"],"summary":"语音修正","operationId":"updateUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"asrYy","description":"asrYy","required":true,"schema":{"$ref":"#/definitions/AsrYy"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«AsrYy»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/asrYy/signature":{"get":{"tags":["asr-yy-controller"],"summary":"微信signature","operationId":"signatureUsingGET","produces":["*/*"],"parameters":[{"name":"url","in":"query","description":"url","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/device/PTZCtrl/{deviceId}/autopan":{"post":{"tags":["设备接口"],"summary":"执行云台操作","operationId":"exePTZCtrlZoomUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"in":"body","name":"ptzData","description":"ptzData","required":true,"schema":{"$ref":"#/definitions/AutoPanData"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/device/PTZCtrl/{deviceId}/move":{"post":{"tags":["设备接口"],"summary":"执行云台操作","operationId":"exePTZCtrlMoveUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"in":"body","name":"ptzData","description":"ptzData","required":true,"schema":{"$ref":"#/definitions/PTZDataMove"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/device/PTZCtrl/{deviceId}/zoom":{"post":{"tags":["设备接口"],"summary":"执行云台操作","operationId":"exePTZCtrlZoomUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"deviceId","in":"path","description":"deviceId","required":true,"type":"string"},{"in":"body","name":"ptzData","description":"ptzData","required":true,"schema":{"$ref":"#/definitions/PTZDataZoom"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/device/all":{"get":{"tags":["设备接口"],"summary":"获取所有摄像头接口","operationId":"getAllUsingGET_1","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/device/hk":{"get":{"tags":["设备接口"],"summary":"获取所有海康摄像头","operationId":"getHkUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/door/receive":{"get":{"tags":["门磁对外接口"],"summary":"check","operationId":"checkUsingGET","produces":["*/*"],"parameters":[{"name":"nonce","in":"query","description":"nonce","required":true,"type":"string"},{"name":"signature","in":"query","description":"signature","required":true,"type":"string"},{"name":"timestamp","in":"query","description":"timestamp","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["门磁对外接口"],"summary":"receive","operationId":"receiveUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"body","description":"body","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/door/saveDoor":{"post":{"tags":["门磁对外接口"],"summary":"增加编辑门磁信息","operationId":"saveDoorUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"doorDTO","description":"doorDTO","required":true,"schema":{"$ref":"#/definitions/DoorDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/config/{id}":{"get":{"tags":["流调配置信息"],"summary":"获取流调配置信息","operationId":"loadConfigUsingGET","produces":["*/*"],"parameters":[{"name":"appType","in":"query","description":"appType","required":false,"type":"string"},{"name":"id","in":"path","description":"流调信息ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«EpidemiologicalSurveyConfigDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/coordinateTran":{"post":{"tags":["流调服务"],"summary":"流调信息-将高德坐标转换为GZ2000坐标","operationId":"coordinateTranUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"locations","description":"locations","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«object»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/data/{id}":{"put":{"tags":["流调服务"],"summary":"修改数据","operationId":"updateDataUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"格式：{storeField: value}","required":false,"schema":{"type":"object"}},{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map«string,object»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/download/coreReport/{id}":{"get":{"tags":["流调服务"],"summary":"下载核心信息报告","description":"下载媒体文件","operationId":"downloadCoreReportUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/download/{id}":{"get":{"tags":["流调服务"],"summary":"根据流调Id下载","operationId":"downloadUsingGET_1","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"流调信息ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/exportRelatedPersonnel":{"post":{"tags":["流调服务"],"summary":"导出关联人员信息","operationId":"exportWorkerDetailPageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"paginationDTO","required":true,"schema":{"$ref":"#/definitions/分页查询条件«Map«string,object»»"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/finish/{id}":{"post":{"tags":["流调服务"],"summary":"流调-完成任务","operationId":"finishUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"流调信息ID","required":false,"type":"string"},{"in":"body","name":"param","description":"param","required":true,"schema":{"$ref":"#/definitions/FinishDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/getCodeScanning/{id}":{"get":{"tags":["流调服务"],"summary":"获取近14天扫码记录","operationId":"getCodeScanningUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"流调信息ID","required":false,"type":"string"},{"name":"pageNum","in":"query","description":"pageNum","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/getRelatedPersonnel/{id}":{"get":{"tags":["流调服务"],"summary":"获取关联人员信息","operationId":"getRelatedPersonnelUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"流调信息ID","required":false,"type":"string"},{"name":"pageNum","in":"query","description":"pageNum","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/locus":{"post":{"tags":["流调服务-人员轨迹信息"],"summary":"新增轨迹信息","operationId":"saveUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"epidemiologicalSurveyLocus","description":"epidemiologicalSurveyLocus","required":true,"schema":{"$ref":"#/definitions/EpidemiologicalSurveyLocus"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«EpidemiologicalSurveyLocus»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/sendMsg/{id}":{"post":{"tags":["流调服务"],"summary":"流调信息发送短信","operationId":"sendMsgUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"流调信息ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/updateStatus/{id}":{"get":{"tags":["流调服务"],"summary":"流调信息-关闭关联事件","operationId":"closeSjUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"status","in":"query","description":"status","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«object»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yxblcsrlt":{"post":{"tags":["流调服务"],"summary":"阳性病例场所热力图","operationId":"yxblcsrltUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"glsjId","description":"glsjId","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«阳性场所热力图DTO»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yxblsmrlt":{"post":{"tags":["流调服务"],"summary":"阳性人员场所扫码热力图","operationId":"yxblsmrltUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"glsjId","description":"glsjId","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«阳性人员扫码热力图DTO»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yxblsmrltDetails":{"post":{"tags":["流调服务"],"summary":"阳性人员场所扫码热力图下钻","operationId":"yxblsmrltDetailsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"paginationDTO","required":true,"schema":{"$ref":"#/definitions/分页查询条件«阳性扫码下钻查询DTO»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«分页查询结果«阳性扫码下钻查询DTO»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/baseInfo/{id}":{"get":{"tags":["流调服务"],"summary":"流调信息-获取语音基本信息接口","operationId":"yyBaseInfoUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"流调信息ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map«string,object»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/deleteHs/{ids}":{"delete":{"tags":["流调服务"],"summary":"流调信息-删除近7日核酸情况信息接口","operationId":"weakDeleteHsUsingDELETE","produces":["*/*"],"parameters":[{"name":"ids","in":"path","description":"多个任务逗号隔开","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/es/yy/deleteYm/{ids}":{"delete":{"tags":["流调服务"],"summary":"流调信息-删除疫情接种情况信息接口","operationId":"weakDeleteYmUsingDELETE","produces":["*/*"],"parameters":[{"name":"ids","in":"path","description":"多个任务逗号隔开","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/es/yy/getHsInfo/{id}":{"get":{"tags":["流调服务"],"summary":"流调信息-获取近7日核酸情况信息接口","operationId":"getHsInfoUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"流调信息ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map«string,object»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/getYmInfo/{id}":{"get":{"tags":["流调服务"],"summary":"流调信息-获取疫情接种情况信息接口","operationId":"getYmInfoUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"流调信息ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map«string,object»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/hs/{id}":{"get":{"tags":["流调服务"],"summary":"流调信息-获取近7日核酸情况信息语音接口","operationId":"hsUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"流调信息ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map«string,object»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/locus":{"put":{"tags":["流调服务"],"summary":"流调信息-修改流调轨迹信息","operationId":"updateUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"map","description":"map","required":true,"schema":{"type":"object"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map«string,object»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/locus/{id}":{"get":{"tags":["流调服务"],"summary":"流调信息-获取核心轨迹信息接口","operationId":"locusUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"流调信息ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map«string,object»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/numByType":{"get":{"tags":["流调服务"],"summary":"流调信息-获取各个状态流调人员数量","operationId":"getNumByTypeUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map«string,object»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/qt/getAllGlbl":{"get":{"tags":["流调服务"],"summary":"流调信息-获取所有阳性人员关联病例","operationId":"getAllGlblUsingGET","produces":["*/*"],"parameters":[{"name":"glsj","in":"query","description":"glsj","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«KeyStringDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/qt/getAllGlsj":{"get":{"tags":["流调服务"],"summary":"流调信息-获取所有阳性人员关联事件","operationId":"getAllGlsjUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«Map»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/qt/getAllZdcs":{"get":{"tags":["流调服务"],"summary":"流调信息-获取所有阳性人员关联重点场所","operationId":"getAllZdcsUsingGET","produces":["*/*"],"parameters":[{"name":"glsj","in":"query","description":"glsj","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«KeyStringDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/qt/getYxryTrend":{"get":{"tags":["流调服务"],"summary":"流调信息-获取所有阳性人员轨迹","operationId":"getYxryTrendUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«object»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/qt/getYxryTrendNew":{"get":{"tags":["流调服务"],"summary":"流调信息-获取所有阳性人员轨迹","operationId":"getYxryTrendNewUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«object»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/qt/top/{sfzhm}":{"put":{"tags":["流调服务"],"summary":"流调信息-阳性人员置顶","operationId":"topUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"sfzhm","in":"path","description":"sfzhm","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«object»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/qt/undoTop/{sfzhm}":{"put":{"tags":["流调服务"],"summary":"流调信息-阳性人员取消置顶","operationId":"undoTopUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"sfzhm","in":"path","description":"sfzhm","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«object»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/qt/{id}":{"get":{"tags":["流调服务"],"summary":"流调信息-阳性","operationId":"qtUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"流调信息ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map«string,object»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/saveHs":{"post":{"tags":["流调服务"],"summary":"流调信息-新增近7日核酸情况信息接口","operationId":"insertHsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"asrYyHsList","description":"asrYyHsList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AsrYyHsDTO"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«object»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/saveYm":{"post":{"tags":["流调服务"],"summary":"流调信息-新增疫情接种情况信息接口","operationId":"insertYmUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"asrYyYmList","description":"asrYyYmList","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/AsrYyYmDTO"}}},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«object»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/yy/ym/{id}":{"get":{"tags":["流调服务"],"summary":"流调信息-获取疫情接种情况信息语音接口","operationId":"ymUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"流调信息ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map«string,object»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/zdcs":{"post":{"tags":["流调服务-重点场所"],"summary":"流调信息-新增重点场所信息接口","operationId":"zdcsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"zdcsDTOs","description":"zdcsDTOs","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ZdcsDTO"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«object»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/es/zdcs/{id}":{"get":{"tags":["流调服务-重点场所"],"summary":"流调信息-根据流调ID，获取相关联的重点场所","operationId":"getZdcsUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«Map«string,object»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/examinePeople/address":{"get":{"tags":["场所人员接口"],"summary":"根据场所名称查询管控人员","operationId":"findByAddressNameUsingGET","produces":["*/*"],"parameters":[{"name":"addressName","in":"query","description":"addressName","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«AddressExaminePeopleDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/examinePeople/places/building/people":{"get":{"tags":["场所人员接口"],"summary":"获取小区楼栋的人员列表","operationId":"placesBuildingPeopleUsingGET","produces":["*/*"],"parameters":[{"name":"currentLoginUserId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"d","in":"query","description":"房屋栋","required":false,"type":"string"},{"name":"fh","in":"query","description":"房号","required":false,"type":"string"},{"name":"j","in":"query","description":"街道","required":false,"type":"string"},{"name":"lxfs","in":"query","description":"手机号码","required":false,"type":"string"},{"name":"sortName","in":"query","required":false,"type":"string"},{"name":"sortOrder","in":"query","required":false,"type":"string"},{"name":"totalCount","in":"query","required":false,"type":"integer","format":"int32"},{"name":"xm","in":"query","description":"姓名","required":false,"type":"string"},{"name":"显示条数","in":"query","required":false,"type":"integer","format":"int32"},{"name":"页码","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/examinePeople/places/buildingSummary":{"get":{"tags":["场所人员接口"],"summary":"获取小区楼栋的概况","operationId":"placesBuildingSummaryUsingGET","produces":["*/*"],"parameters":[{"name":"buildingName","in":"query","description":"buildingName","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/examinePeople/places/people/list":{"get":{"tags":["场所人员接口"],"summary":"获取小区人员台账列表","operationId":"placesPeopleListUsingGET","produces":["*/*"],"parameters":[{"name":"jdfh","in":"query","description":"jdfh","required":false,"type":"string"},{"name":"jsbzdrqlb","in":"query","description":"jsbzdrqlb","required":false,"type":"string"},{"name":"lkhwhjadzzjxn","in":"query","description":"lkhwhjadzzjxn","required":false,"type":"string"},{"name":"lkhyhjahy","in":"query","description":"lkhyhjahy","required":false,"type":"string"},{"name":"lxfs","in":"query","description":"lxfs","required":false,"type":"string"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"},{"name":"qt","in":"query","description":"qt","required":false,"type":"string"},{"name":"wyeswrhlkbzzjxn","in":"query","description":"wyeswrhlkbzzjxn","required":false,"type":"string"},{"name":"wywrqlkjabzzjxn","in":"query","description":"wywrqlkjabzzjxn","required":false,"type":"string"},{"name":"xm","in":"query","description":"xm","required":false,"type":"string"},{"name":"zydgl","in":"query","description":"zydgl","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/examinePeople/places/people/traceEvent":{"get":{"tags":["场所人员接口"],"summary":"获取小区人员的追踪事件","operationId":"placesPeopleTraceEventUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/examinePeople/places/summary":{"get":{"tags":["场所人员接口"],"summary":"获取小区的概况","operationId":"placesSummaryUsingGET","produces":["*/*"],"parameters":[{"name":"placeName","in":"query","description":"placeName","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/gdsymtcks/pageList":{"post":{"tags":["广东省一码通乘客模块"],"summary":"广东省一码通乘客分页查询","operationId":"findPageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"paginationDTO","required":true,"schema":{"$ref":"#/definitions/分页查询条件«广东省一码通乘客DTO»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«PagerDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/health/addExamination":{"post":{"tags":["健康检查登记接口"],"summary":"添加健康检查登记信息","operationId":"addExaminationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"healthExaminationDTO","description":"healthExaminationDTO","required":true,"schema":{"$ref":"#/definitions/HealthExaminationDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«string»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/health/editExamination":{"post":{"tags":["健康检查登记接口"],"summary":"编辑健康检查登记表,这里要传id,和编辑后的信息","operationId":"editExaminationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"healthExaminationDTO","description":"healthExaminationDTO","required":true,"schema":{"$ref":"#/definitions/HealthExaminationDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«string»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/health/searchExamination/{personId}":{"get":{"tags":["健康检查登记接口"],"summary":"根据id查询健康检查登记信息 症状（sympton）0为无 1为有","operationId":"searchExaminationUsingGET","produces":["*/*"],"parameters":[{"name":"personId","in":"path","description":"personId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«HealthExaminationDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/mediaInfo/allFiles":{"get":{"tags":["媒体库接口"],"summary":"获取租户所有媒体信息列表","description":"获取租户所有媒体信息列表","operationId":"showAllFilesUsingGET","produces":["*/*"],"parameters":[{"name":"appType","in":"query","description":"appType","required":false,"type":"string"},{"name":"tenant","in":"query","description":"tenant","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseDTO«List«MediaFilePathDto»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/mediaInfo/download/mediaList":{"get":{"tags":["媒体库接口"],"summary":"批量下载媒体文件","description":"批量下载媒体文件","operationId":"downloadMediaFileByIdsUsingGET","produces":["*/*"],"parameters":[{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/mediaInfo/download/{mediaInfoId}":{"get":{"tags":["媒体库接口"],"summary":"下载媒体文件","description":"下载媒体文件","operationId":"downloadMediaFileUsingGET_1","produces":["*/*"],"parameters":[{"name":"mediaInfoId","in":"path","description":"mediaInfoId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/mediaInfo/pageList":{"post":{"tags":["媒体库接口"],"summary":"查询媒体信息列表","description":"查询媒体信息列表","operationId":"findPageUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"paginationDTO","required":true,"schema":{"$ref":"#/definitions/分页查询条件«媒体列表查询条件模型»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseDTO«分页查询结果«媒体响应模型»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/mediaInfo/preview/{mediaInfoId}":{"get":{"tags":["媒体库接口"],"summary":"预览媒体文件","description":"预览媒体文件","operationId":"previewMediaFileUsingGET","produces":["*/*"],"parameters":[{"name":"mediaInfoId","in":"path","description":"mediaInfoId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/mediaInfo/types":{"get":{"tags":["媒体库接口"],"summary":"获取媒体类型条件列表","description":"获取媒体类型条件列表","operationId":"getMediaTypesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseDTO«Map«string,string»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/mediaInfo/upload":{"post":{"tags":["媒体库接口"],"summary":"文件上传","description":"文件上传","operationId":"uploadUsingPOST_1","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"appType","in":"query","description":"应用类型","required":false,"type":"string","allowEmptyValue":false},{"name":"file","in":"formData","description":"选择文件","required":false,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseDTO«媒体响应模型»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/mediaInfo/upload/dcdb":{"post":{"tags":["媒体库接口"],"summary":"督查督办文件上传","description":"督查督办文件上传","operationId":"uploadDcdbUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"file","in":"formData","description":"选择文件","required":false,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseDTO«媒体响应模型»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/mediaInfo/{ids}":{"delete":{"tags":["媒体库接口"],"summary":"删除媒体","description":"删除媒体","operationId":"deleteUsingDELETE","produces":["*/*"],"parameters":[{"name":"ids","in":"path","description":"媒体ID，多个用英文逗号隔开","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseDTO«object»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/mediaInfo/{id}":{"get":{"tags":["媒体库接口"],"summary":"加载一条媒体信息","operationId":"loadUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseDTO«媒体响应模型»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/nucleicAcid/addExamination":{"post":{"tags":["核酸检测接口"],"summary":"保存结果","operationId":"addExaminationUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"nucleicAcidExaminationDTO","description":"nucleicAcidExaminationDTO","required":true,"schema":{"$ref":"#/definitions/NucleicAcidExaminationDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«string»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/nucleicAcid/areaAdvicePageList":{"post":{"tags":["核酸检测接口"],"summary":"推荐核酸检测点分页查询","operationId":"areaAdvicePageListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"paginationDTO","required":true,"schema":{"$ref":"#/definitions/分页查询条件«NucleicAcidAdviceDTO»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«分页查询结果«Map»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/nucleicAcid/editExamination":{"post":{"tags":["核酸检测接口"],"summary":"编辑核酸检测表，需要传入核酸检测表id 和对应的信息","operationId":"editExaminationUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"nucleicAcidExaminationDTO","description":"nucleicAcidExaminationDTO","required":true,"schema":{"$ref":"#/definitions/NucleicAcidExaminationDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«string»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/nucleicAcid/nucleicAcidAreaStatisticTaskTest":{"post":{"tags":["核酸检测接口"],"summary":"核酸检测点定时任务测试","operationId":"nucleicAcidAreaStatisticTaskTestUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"date","in":"query","description":"date","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/nucleicAcid/nucleicAcidExport":{"get":{"tags":["核酸检测接口"],"summary":"导出核酸检测点聚集数据和对应的大规模核酸检测点数据","operationId":"exportUsingGET_2","produces":["*/*"],"parameters":[{"name":"contact","in":"query","description":"密接/次密接人员 0为不纳入统计 1为纳入统计","required":false,"type":"string"},{"name":"date","in":"query","description":"date","required":false,"type":"string"},{"name":"hm","in":"query","description":"黄码人员 0为不纳入统计 1为纳入统计","required":false,"type":"string"},{"name":"person","in":"query","description":"中高风险来穗返穗 0为不纳入统计 1为纳入统计","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/nucleicAcid/nucleicCount":{"get":{"tags":["核酸检测接口"],"summary":"常规核酸检测点和大规模核酸检测点的统计数","operationId":"nucleicCountUsingGET","produces":["*/*"],"parameters":[{"name":"sswg","in":"query","description":"sswg","required":false,"type":"string"},{"name":"sszj","in":"query","description":"sszj","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/nucleicAcid/searchExamination/{personId}":{"get":{"tags":["核酸检测接口"],"summary":"根据id查询健康检查登记信息 结果（result）0为阴性 1为阳性","operationId":"findByPersonIdUsingGET","produces":["*/*"],"parameters":[{"name":"personId","in":"path","description":"personId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«NucleicAcidExaminationDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/pub/yzy/accessToken":{"get":{"tags":["开放接口-需谨慎"],"summary":"获取yzy access_token","operationId":"accessTokenUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/qyxxcj":{"get":{"tags":["企业采集相关查询接口"],"summary":"获取主体类型","operationId":"loadUsingGET_1","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«QyxxcjTemplateConfigDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/qyxxcj/asyncData":{"get":{"tags":["企业采集相关查询接口"],"summary":"同步企业数据","operationId":"asyncDataUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«object»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/qyxxcj/dataPage/10089":{"post":{"tags":["企业采集相关查询接口"],"summary":"企业分页列表","operationId":"findPageUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"分页查询条件，condition为列存储名与条件值的映射","required":false,"schema":{"$ref":"#/definitions/分页查询条件«Map«string,object»»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«分页查询结果«object»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/qyxxcj/loadAlarmZtlx":{"get":{"tags":["企业采集相关查询接口"],"summary":"获得告警配置下的主体类型","operationId":"loadAlarmZtlxUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«QyxxcjTemplateConfigDTO»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/school/dataPage/10068":{"post":{"tags":["学校接口"],"summary":"分页列表","operationId":"findPageUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"分页查询条件，condition为列存储名与条件值的映射","required":false,"schema":{"$ref":"#/definitions/分页查询条件«Map«string,object»»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«分页查询结果«object»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/checkData/fail/{fileId}":{"post":{"tags":["自定义导入数据接口"],"summary":"下载导入校验失败数据文件","operationId":"downloadFailDataFileUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"fileId","in":"path","description":"fileId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/checkData/{id}":{"post":{"tags":["自定义导入数据接口"],"summary":"导入数据校验","operationId":"checkExcelDataUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"模板ID","required":false,"type":"integer","format":"int32"},{"name":"uploadFile","in":"formData","description":"excel文档","required":false,"type":"file"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«ImportCheckResultDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/config/{id}":{"get":{"tags":["自定义导入数据接口"],"summary":"根据模板id, 加载模板配置","operationId":"loadOneTemplateConfigUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«ImportTemplateWithColumnsDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/data/upDateLocation/{id}":{"post":{"tags":["自定义导入数据接口"],"summary":"调整经纬度","operationId":"updateLocationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"latitude","in":"query","required":false,"type":"number","format":"double"},{"name":"longitude","in":"query","required":false,"type":"number","format":"double"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/data/{ids}":{"delete":{"tags":["自定义导入数据接口"],"summary":"删除数据","operationId":"deleteDataUsingDELETE","produces":["*/*"],"parameters":[{"name":"ids","in":"path","description":"多个用英文逗号隔开","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Void»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/template/data/{id}":{"get":{"tags":["自定义导入数据接口"],"summary":"查看数据","operationId":"loadDataUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map«string,object»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["自定义导入数据接口"],"summary":"修改数据","operationId":"updateDataUsingPUT_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"格式：{storeField: value}","required":false,"schema":{"type":"object"}},{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map«string,object»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/data/{templateId}":{"post":{"tags":["自定义导入数据接口"],"summary":"新增数据","operationId":"createDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"格式：{storeField: value}","required":false,"schema":{"type":"object"}},{"name":"templateId","in":"path","description":"模板ID","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map«string,object»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/dataBatch":{"post":{"tags":["自定义导入数据接口"],"summary":"删除数据（POST方式）","operationId":"deleteData2UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"ids","description":"ids","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/dataBatch/{templateId}":{"delete":{"tags":["自定义导入数据接口"],"summary":"批量删除全部（根据模板ID）","operationId":"deleteBatchDataUsingDELETE","produces":["*/*"],"parameters":[{"in":"body","name":"condition","description":"查询条件，condition为列存储名与条件值的映射","required":false,"schema":{"type":"object"}},{"name":"templateId","in":"path","description":"模板ID","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Void»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/template/dataPage/more/{templateIds}":{"post":{"tags":["自定义导入数据接口"],"summary":"根据条件查询数据分页列表","operationId":"findPageByIdsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"分页查询条件，condition为列存储名与条件值的映射","required":false,"schema":{"$ref":"#/definitions/分页查询条件«Map«string,object»»"}},{"name":"templateIds","in":"path","description":"模板ID","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«分页查询结果«object»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/dataPage/{templateId}":{"post":{"tags":["自定义导入数据接口"],"summary":"根据条件查询数据分页列表","operationId":"findPageUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"分页查询条件，condition为列存储名与条件值的映射","required":false,"schema":{"$ref":"#/definitions/分页查询条件«Map«string,object»»"}},{"name":"templateId","in":"path","description":"模板ID","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«分页查询结果«object»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/datas":{"put":{"tags":["自定义导入数据接口"],"summary":"批量修改数据","operationId":"batchUpdateDataUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"datas","description":"格式：{storeField: value}，必须还有'id'","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Void»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/dictionary":{"get":{"tags":["自定义导入数据接口"],"summary":"图层与模板id对应字典","operationId":"dictionaryUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«TemplateLayer»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/exportData/{templateId}":{"post":{"tags":["自定义导入数据接口"],"summary":"导出数据","operationId":"exportDataUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"condition","description":"过滤条件","required":false,"schema":{"type":"object"}},{"name":"templateId","in":"path","description":"模板ID","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/getIdListByZt":{"get":{"tags":["自定义导入数据接口"],"summary":"根据主体类型与主体名称获取id","operationId":"getIdListByZtUsingGET","produces":["*/*"],"parameters":[{"name":"ztlx","in":"query","description":"主体类型","required":false,"type":"string","allowEmptyValue":false},{"name":"ztmc","in":"query","description":"主体名称","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/import":{"post":{"tags":["自定义导入数据接口"],"summary":"开始导入数据","operationId":"doImportExeclUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"analysisList","description":"校验Id列表","required":false,"schema":{"type":"array","items":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«object»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/list":{"post":{"tags":["自定义导入数据接口"],"summary":"根据条件查询模板列表","operationId":"findAllUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"condition","description":"condition","required":true,"schema":{"$ref":"#/definitions/模板列表查询条件"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«List«ImportTemplateDTO»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/template/resetHash/{templateId}":{"post":{"tags":["自定义导入数据接口"],"summary":"重置hash","operationId":"resetHashUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"templateId","in":"path","description":"templateId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«object»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/test/executeSmLog":{"get":{"tags":["test-controller"],"summary":"executeSmLog","operationId":"executeSmLogUsingGET","produces":["*/*"],"parameters":[{"name":"startLogTime","in":"query","description":"startLogTime","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/test/highRiskPositionsPersonnelService":{"post":{"tags":["test-controller"],"summary":"highRiskPositionsPersonnelService","operationId":"highRiskPositionsPersonnelServiceUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/test/send":{"post":{"tags":["test-controller"],"summary":"send","operationId":"sendUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"msg","in":"query","description":"msg","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/travelRecord/nucleicAcidTestPerson":{"post":{"tags":["通行扫码记录"],"summary":"核酸检测点人员查询","operationId":"nucleicAcidTestPersonUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"paginationDTO","required":true,"schema":{"$ref":"#/definitions/分页查询条件«公共场所流动人员查询或核酸检测点人员查询»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«PagerDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/travelRecord/personStatistics":{"post":{"tags":["通行扫码记录"],"summary":"重点场所今日通行人员统计","operationId":"personStatisticsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"paginationDTO","required":true,"schema":{"$ref":"#/definitions/分页查询条件«公共场所流动人员查询或核酸检测点人员查询»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«PagerDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/travelRecord/personalTrack":{"post":{"tags":["通行扫码记录"],"summary":"查看个人轨迹","operationId":"personalTrackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"paginationDTO","required":true,"schema":{"$ref":"#/definitions/分页查询条件«个人轨迹查询»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«PagerDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/travelRecord/personalTrackByView":{"post":{"tags":["通行扫码记录"],"summary":"通过视图查看个人轨迹","operationId":"personalTrackByViewUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"paginationDTO","required":true,"schema":{"$ref":"#/definitions/分页查询条件«个人轨迹查询»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«PagerDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/travelRecord/publicFloatingPerson":{"post":{"tags":["通行扫码记录"],"summary":"公共场所流动人员查询","operationId":"publicFloatingPersonUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"paginationDTO","required":true,"schema":{"$ref":"#/definitions/分页查询条件«公共场所流动人员查询或核酸检测点人员查询»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«PagerDTO»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/travelRecord/publicPersonStatistics/{date}":{"post":{"tags":["通行扫码记录"],"summary":"公共场所通行人员统计，默认为今日","operationId":"publicPersonStatisticsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"date","in":"path","description":"date","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«Map»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/truckDriver/alarm/setting":{"post":{"tags":["货车司机"],"summary":"告警设置","operationId":"alarmSettingUsingPOST_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"truckDriverAppointmentAlarmConfigCmd","description":"truckDriverAppointmentAlarmConfigCmd","required":true,"schema":{"$ref":"#/definitions/TruckDriverAppointmentAlarmConfigCmd"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/truckDriver/alarm/setting/detail":{"get":{"tags":["货车司机"],"summary":"获取告警设置信息","operationId":"getAlarmSettingUsingGET_5","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«TruckDriverAppointmentAlarmConfigCmd»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/truckDriver/appointmentInfoPush":{"post":{"tags":["货车司机"],"summary":"手动触发告警","operationId":"appointmentInfoPushUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"end","in":"query","description":"end","required":false,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/truckDriver/appointmentLogDetailQuery":{"get":{"tags":["货车司机"],"summary":"查询预约详情记录","operationId":"appointmentLogDetailQueryUsingGET","produces":["*/*"],"parameters":[{"name":"yydid","in":"query","description":"yydid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«货车司机预约DTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/truckDriver/createAppointmentLog":{"post":{"tags":["货车司机"],"summary":"新增/修改预约记录,返回预约单id","operationId":"createAppointmentLogUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"appointmentDTO","description":"appointmentDTO","required":true,"schema":{"$ref":"#/definitions/货车司机预约DTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«string»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/truckDriver/dataPage/{templateId}":{"post":{"tags":["货车司机"],"summary":"根据条件查询数据分页列表","operationId":"findPageUsingPOST_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"paginationDTO","description":"分页查询条件，condition为列存储名与条件值的映射","required":false,"schema":{"$ref":"#/definitions/分页查询条件«Map«string,object»»"}},{"name":"templateId","in":"path","description":"模板ID","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean«分页查询结果«object»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/truckDriver/examineAppointment":{"post":{"tags":["货车司机"],"summary":"卡口工作人员可以选择通行还是未通行并推送到粤政易","operationId":"examineAppointmentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"datas","description":"格式：{storeField: value}","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}},{"name":"templateId","in":"query","description":"templateId","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/truckDriver/exportAppointment":{"get":{"tags":["货车司机"],"summary":"导出预约单内容","operationId":"exportAppointmentUsingGET","produces":["*/*"],"parameters":[{"name":"token","in":"query","description":"token","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/truckDriver/getCompanyInfo":{"get":{"tags":["货车司机"],"summary":"获取公司名称和地址","operationId":"getCompanyInfoUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/truckDriver/getTruckDriverStatus":{"get":{"tags":["货车司机"],"summary":"根据预约id查询司机的预约单状态和企业状态","operationId":"getTruckDriverStatusUsingGET","produces":["*/*"],"parameters":[{"name":"appointmentId","in":"query","description":"appointmentId","required":false,"type":"string"},{"name":"templateId","in":"query","description":"templateId","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/truckDriver/saveData/{templateId}":{"post":{"tags":["货车司机"],"summary":"新增/更新数据","operationId":"saveDataUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"datas","description":"格式：{storeField: value}","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}},{"name":"templateId","in":"path","description":"模板ID","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/video/conference/data/{id}":{"get":{"tags":["视频会议相关"],"summary":"查看数据","operationId":"loadDataUsingGET_1","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"name":"principalType","in":"query","description":"principalType","required":false,"type":"integer","format":"int32"},{"name":"type","in":"query","description":"type","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/video/conference/dismissRoom":{"get":{"tags":["视频会议相关"],"summary":"DismissRoom","operationId":"DismissRoomUsingGET","produces":["*/*"],"parameters":[{"name":"roomId","in":"query","description":"roomId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/video/conference/natPrincipal":{"get":{"tags":["视频会议相关"],"summary":"查看参会人员信息","operationId":"natPrincipalUsingGET","produces":["*/*"],"parameters":[{"name":"roomId","in":"query","description":"roomId","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/video/conference/playVideo":{"post":{"tags":["视频会议相关"],"summary":"playVideo","operationId":"playVideoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"videoConference","description":"videoConference","required":true,"schema":{"$ref":"#/definitions/VideoConference"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/video/conference/setting/info":{"get":{"tags":["视频会议相关"],"summary":"settingInfo","operationId":"settingInfoUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/video/conference/userSig":{"get":{"tags":["视频会议相关"],"summary":"userSig","operationId":"userSigUsingGET","produces":["*/*"],"parameters":[{"name":"expire","in":"query","description":"expire","required":false,"type":"integer","format":"int64"},{"name":"userId","in":"query","description":"userId","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/wj/getUserInfo":{"get":{"tags":["二维码认证相关接口"],"summary":"获取用户信息","operationId":"getUserInfoUsingGET_1","produces":["*/*"],"parameters":[{"name":"cert_token","in":"query","description":"cert_token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseDTO«WJAuthUserInfo»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/wj/loginQrCode":{"get":{"tags":["二维码认证相关接口"],"summary":"获取微警登录二维码信息","operationId":"getQrCodeForLoginUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseDTO«QrCodeDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/wj/qrCodePic":{"get":{"tags":["二维码认证相关接口"],"summary":"二维码","operationId":"getQrCodePicUsingGET","produces":["*/*"],"parameters":[{"name":"cert_token","in":"query","description":"cert_token","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/wj/query/accessToken":{"get":{"tags":["二维码认证相关接口"],"summary":"获取微警accessToken","operationId":"getAccessTokenUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/execute":{"get":{"tags":["自动统计接口"],"summary":"定时任务数据用户和日志表数据同步","operationId":"executeUsingGET","produces":["*/*"],"parameters":[{"name":"endDate","in":"query","description":"endDate","required":false,"type":"string"},{"name":"startDate","in":"query","description":"startDate","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/export/use/wbj":{"get":{"tags":["自动统计接口"],"summary":"委办局使用情况导出","operationId":"exportUseWbjUsingGET","produces":["*/*"],"parameters":[{"name":"end","in":"query","description":"end","required":false,"type":"string"},{"name":"number","in":"query","description":"number","required":false,"type":"integer","format":"int32"},{"name":"start","in":"query","description":"start","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/export/use/zj":{"get":{"tags":["自动统计接口"],"summary":"镇街使用情况导出","operationId":"exportUseZjUsingGET","produces":["*/*"],"parameters":[{"name":"end","in":"query","description":"end","required":false,"type":"string"},{"name":"number","in":"query","description":"number","required":false,"type":"integer","format":"int32"},{"name":"start","in":"query","description":"start","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/insertUseWbj":{"get":{"tags":["自动统计接口"],"summary":"定时任务同步委办局使用情况信息","operationId":"insertUseWbjUsingGET","produces":["*/*"],"parameters":[{"name":"end","in":"query","description":"end","required":false,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/insertUseZj":{"get":{"tags":["自动统计接口"],"summary":"定时任务同步镇街使用情况信息","operationId":"insertUseZjUsingGET","produces":["*/*"],"parameters":[{"name":"end","in":"query","description":"end","required":false,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/insertUsers":{"get":{"tags":["自动统计接口"],"summary":"定时任务同步用户信息","operationId":"insertUsersUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/userMode/wbj":{"get":{"tags":["自动统计接口"],"summary":"功能模块使用次数_委办局","operationId":"userModeWbjUsingGET","produces":["*/*"],"parameters":[{"name":"end","in":"query","description":"end","required":false,"type":"string"},{"name":"number","in":"query","description":"number","required":false,"type":"integer","format":"int32"},{"name":"start","in":"query","description":"start","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/userMode/zj":{"get":{"tags":["自动统计接口"],"summary":"功能模块使用次数_镇街","operationId":"userModeZjUsingGET","produces":["*/*"],"parameters":[{"name":"end","in":"query","description":"end","required":false,"type":"string"},{"name":"number","in":"query","description":"number","required":false,"type":"integer","format":"int32"},{"name":"start","in":"query","description":"start","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/userOpen/wbj":{"get":{"tags":["自动统计接口"],"summary":"开通账号情况_委办局","operationId":"userOpenWbjUsingGET","produces":["*/*"],"parameters":[{"name":"end","in":"query","description":"end","required":false,"type":"string"},{"name":"number","in":"query","description":"number","required":false,"type":"integer","format":"int32"},{"name":"start","in":"query","description":"start","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/userOpen/zj":{"get":{"tags":["自动统计接口"],"summary":"开通账号情况_镇街","operationId":"userOpenZjUsingGET","produces":["*/*"],"parameters":[{"name":"end","in":"query","description":"end","required":false,"type":"string"},{"name":"number","in":"query","description":"number","required":false,"type":"integer","format":"int32"},{"name":"start","in":"query","description":"start","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultBean"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/userTotal/wbj":{"get":{"tags":["自动统计接口"],"summary":"用户注册总数_委办局","operationId":"userTotalWbjUsingGET","produces":["*/*"],"parameters":[{"name":"end","in":"query","description":"end","required":false,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/userTotal/zj":{"get":{"tags":["自动统计接口"],"summary":"用户注册总数_镇街","operationId":"userTotalZjUsingGET","produces":["*/*"],"parameters":[{"name":"end","in":"query","description":"end","required":false,"type":"string"},{"name":"start","in":"query","description":"start","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/userUse/wbj":{"get":{"tags":["自动统计接口"],"summary":"账号使用情况_委办局","operationId":"userUseWbjUsingGET","produces":["*/*"],"parameters":[{"name":"end","in":"query","description":"end","required":false,"type":"string"},{"name":"number","in":"query","description":"number","required":false,"type":"integer","format":"int32"},{"name":"start","in":"query","description":"start","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/userUse/zj":{"get":{"tags":["自动统计接口"],"summary":"账号使用情况_镇街","operationId":"userUseZjUsingGET","produces":["*/*"],"parameters":[{"name":"end","in":"query","description":"end","required":false,"type":"string"},{"name":"number","in":"query","description":"number","required":false,"type":"integer","format":"int32"},{"name":"start","in":"query","description":"start","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/userUse/zj/count":{"get":{"tags":["自动统计接口"],"summary":"账号使用情况_镇街_统计","operationId":"userUseZjCountUsingGET","produces":["*/*"],"parameters":[{"name":"time","in":"query","description":"time","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/userUse/zj/detail":{"post":{"tags":["自动统计接口"],"summary":"账号使用情况_镇街_详细","operationId":"userUseZjDetailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"qry","description":"qry","required":true,"schema":{"$ref":"#/definitions/分页查询条件«镇街使用情况查询条件»"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResultDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoCount/userUse/zj/export":{"post":{"tags":["自动统计接口"],"summary":"账号使用情况_镇街_导出","operationId":"userUseZjExportUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"qry","description":"qry","required":true,"schema":{"$ref":"#/definitions/镇街使用情况查询条件"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/autoTemplate/baseInfo":{"get":{"tags":["自动统计报告模板接口"],"summary":"根
[...]
